<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
        span {
            font-size: 12px;
            color: gray;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <div>
            数字：<input type="number" v-model="number">
            进制：<input type="number" v-model="baseN">
            {{valString}}
        </div>
        <span>(10进制转其他进制)</span>
        <div style="margin-top: 10px;">
            <input type="submit" @click="base" value="进制转换">
        </div>
       
    </div>
    <script src="../public/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    number: 23,
                    baseN: 2,
                    valString: ''
                }
            },
            methods: {
                base() {
                    var _this = this, num = _this.number, n = _this.baseN;
                    var decimal = [], real = [];
                    var num1 = Math.floor(num), num2 = +(num - num1).toFixed(12);
                    while (num1 >= n) {
                        var result = Math.floor(num1 / n);
                        var remainder = num1 % n;
                        // 进制小于10不需要分隔
                        real.push(_this.numPush(remainder, n));
                        num1 = result;
                        if (num1 < n) {
                            break;
                        }
                    }
                    real.push(num1);
                    real = (real.reverse()).join('');
                    _this.valString = real;
                    // 小数计算
                    if (num2 > 0) {
                        while(num2 != 0) {
                            if (decimal.length >= 12) {
                                break;
                            }
                            var result = Math.floor(num2 * n);
                            num2 = +(num2 * n - result).toFixed(12);
                            decimal.push(_this.numPush(result, n))
                        }
                        decimal = decimal.join('');
                        _this.valString += '.' + decimal;
                    }
                },
                numPush(num, n) {
                    if (n > 10) {
                        num = '/' + num;
                    }
                    else {
                        num = num;
                    }
                    return num;
                }
            }
        });
    </script>
</body>
</html>