<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>渲染dom</title>
</head>
<body>
    <div></div>
    <script src="./7-17.js"></script>
    <script>
        let tmpl = `
        <div class="newslist">
            <div class="img" v-if="info.showImage"><img src="{{image}}"/></div>
            <div class="date" v-if="info.showDate">{{info.name}}</div>
            <div class="img">{{info.name}}</div>
        </div>`
        var node = new Engine();
        node.rander(tmpl, {image:'some.img',
            info: {
                showImage: true, showDate: false, name: "aaa"
            }
        });
    </script>
</body>
</html>